<% if current_user %>
<h3>Welcome <%= current_user.email %></h3>
 <li><%= link_to "Edit Account", edit_user_registration_path %></li>
 <li><a href="#terms" class="modal-trigger">&#128214; Medical condition terms and research</a></li>


<p><%= image_tag("greet.jpg", alt: "greetings") %></p>


<div class="modal" id="terms">
  <div class="container" style="padding-bottom: 15px">
    <label for="search"></label>
    <input type='text' id="search-text" name= "search">
    <input type="button" id="search" value="search">
  </div>
</div>


<% else %>


<div class="carousel">
    <div class="carousel-item"><%= image_tag("carouselimage1.jpg") %></div>
    <div class="carousel-item"><%= image_tag("carouselimage2.jpg") %></div>
    <div class="carousel-item"><%= image_tag("carouselimage3.jpg") %></div>
    <div class="carousel-item"><%= image_tag("doctors_know.jpg") %></div>
  </div>

<% end %>
