<% if current_user %>
<h3>Welcome <%= current_user.email %></h3>
 <li><%= link_to "Edit Account", edit_user_registration_path %></li>
<% else %>


<div class="carousel">
    <div class="carousel-item"><%= image_tag("carouselimage1.jpg") %></div>
    <div class="carousel-item"><%= image_tag("carouselimage2.jpg") %></div>
    <div class="carousel-item"><%= image_tag("carouselimage3.jpg") %></div>
    <div class="carousel-item"><%= image_tag("doctors_know.jpg") %></div>
  </div>

<% end %>
