<p id="notice"><%= notice %></p>

<p>
  <strong>Last name:</strong>
  <%= @patient.last_name %>
</p>

<p>
  <strong>First name:</strong>
  <%= @patient.first_name %>
</p>

<p>
  <strong>Birthdate:</strong>
  <%= @patient.birthdate %>
</p>

<p>
  <strong>Phone:</strong>
  <%= number_to_phone(@patient.phone) %>
</p>

<p>
  <strong>Email:</strong>
  <%= @patient.email %>
</p>

<p>
  <strong>Misc:</strong>
  <%= @patient.misc %>
</p>

<%= link_to 'Edit', edit_patient_path(@patient) %> |
<%= link_to 'Delete', @patient, method: :delete, data: { confirm: 'Are you sure?' } %> |
<%= link_to 'List of Patients', patients_path %>
