<p id="notice"><%= notice %></p>

<p>
  <strong>Last name:</strong>
  <%= @doctor.last_name %>
</p>

<p>
  <strong>First name:</strong>
  <%= @doctor.first_name %>
</p>

<p>
  <strong>Speciality:</strong>
  <%= @doctor.speciality %>
</p>

<p>
  <strong>Description:</strong>
  <%= @doctor.description %>
</p>

<p>
  <strong>Interests:</strong>
  <%= @doctor.interests %>
</p>

<p>
  <strong>Contact number:</strong>
  <%= @doctor.contact_number %>
</p>

<p>
  <strong>Email:</strong>
  <%= @doctor.email %>
</p>

<%= link_to 'Edit', edit_doctor_path(@doctor) %> |
<%= link_to 'Delete', @doctor, method: :delete, data: { confirm: 'Are you sure?' } %> |
<%= link_to 'List all Docs', doctors_path %>
