<%= form_with(model: appointment, local: true) do |form| %>
  <% if appointment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(appointment.errors.count, "error") %> prohibited this appointment from being saved:</h2>

      <ul>
      <% appointment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="appointment_form">
  <div class="field">
    <%= form.label :patient_id %>
    <%= form.collection_select(:patient_id, Patient.all, :id, :last_name, {}) %><br/>
  </div>

  <div class="field">
    <%= form.label :doctor_id %>
    <%= form.collection_select(:doctor_id, Doctor.all, :id, :last_name, {}) %><br/>
  </div>

  <div class="field">
    <%= form.label :appt %><br/>
    <%= form.text_field :appt, {placeholder: 'Select Date', :class => "datepicker"} %>
    <%= form.text_field :appt, {placeholder: 'Select Time', :class => "timepicker"}%>
  </div>

  <div class="field">
    <%= form.label :details %>
    <p>Type aliment code here for more info</p>
    <%= form.text_area :details %>

   
  </div><br/>

  <div class="actions">
    <%= form.submit %>
  </div><br/>

     

</div>  
<% end %>

<button id="symp">Code Look Up</button>

<div id="playground"></div>
<script>

    document.querySelector('#symp').addEventListener('click', function (e) {

        let searchTerm = document.querySelector("#appointment_details").value;
        //let searchTerm = "Diabetes%20mellitus%20with%20other%20coma%20type%201%20uncontrolled"
        let lang = "en";
        
        fetch("https://connect.medlineplus.gov/service?mainSearchCriteria.v.c="+searchTerm+"&knowledgeResponseType=application/json&informationRecipient.languageCode.c="+lang)
        .then( function(response){
            return response.json();
        }).then(function(data){
            
            let parsedData = JSON.parse(JSON.stringify(data));
            console.log(parsedData.feed)

            let playground = document.querySelector("#playground");
            playground.innerHTML = "<div>";
            //playground.innerHTML = "<a href='"+parsedData.feed.author.url._value+"'>"
            playground.innerHTML += parsedData.feed.author.name._value
            playground.innerHTML += "</div>";
            for(let i = 0; i<parsedData.feed.entry.length;i++){
              playground.innerHTML += "<div><h3>"+parsedData.feed.entry[i].title._value+"</h3>";
              playground.innerHTML += parsedData.feed.entry[i].summary._value+"</p>"
            }
      

            }) 
    })

   
</script>
