<p id="notice"><%= notice %></p>

<p>
  <strong>Patient:</strong>
  <%= @appointment.patient.first_name %>
  <%= @appointment.patient.last_name %>
</p>

<p>
  <strong>Doctor:</strong>
 Mr. <%= @appointment.doctor.last_name %>
</p>

<p>
  <strong>Appt:</strong>
  <%= @appointment.appt %>
</p>

<p>
  <strong>Details:</strong>
  <span id="code"><%= @appointment.details %></span>
  <button id="lookup">Details</button>
</p>

<%= link_to 'Edit', edit_appointment_path(@appointment) %> |
<%= link_to 'Return to Appointment List', appointments_path %>

<div id="playground"></div>




<script>
document.querySelector('#lookup').addEventListener('click', function(e){
             let searchTerm = document.querySelector("#code").textContent;
        console.log(searchTerm)
        //let searchTerm = "Diabetes%20mellitus%20with%20other%20coma%20type%201%20uncontrolled"
        let lang = "en";
        
        fetch("https://connect.medlineplus.gov/service?mainSearchCriteria.v.c="+searchTerm+"&knowledgeResponseType=application/json&informationRecipient.languageCode.c="+lang)
        .then( function(response){
            return response.json();
        }).then(function(data){
            
            let parsedData = JSON.parse(JSON.stringify(data));
            console.log(parsedData.feed)

            let playground = document.querySelector("#playground");
            playground.innerHTML = "<div>";
            //playground.innerHTML = "<a href='"+parsedData.feed.author.url._value+"'>"
            playground.innerHTML += parsedData.feed.author.name._value
            playground.innerHTML += "</div>";
            for(let i = 0; i<parsedData.feed.entry.length;i++){
              playground.innerHTML += "<div><h3>"+parsedData.feed.entry[i].title._value+"</h3>";
              playground.innerHTML += parsedData.feed.entry[i].summary._value+"</p>"
            }
      

            }) 
})


window.addEventListener("load", function (e) {

        let searchTerm = document.querySelector("#code").textContent;
        console.log(searchTerm)
        //let searchTerm = "Diabetes%20mellitus%20with%20other%20coma%20type%201%20uncontrolled"
        let lang = "en";
        
        fetch("https://connect.medlineplus.gov/service?mainSearchCriteria.v.c="+searchTerm+"&knowledgeResponseType=application/json&informationRecipient.languageCode.c="+lang)
        .then( function(response){
            return response.json();
        }).then(function(data){
            
            let parsedData = JSON.parse(JSON.stringify(data));
            console.log(parsedData.feed)

            let playground = document.querySelector("#playground");
            playground.innerHTML = "<div>";
            //playground.innerHTML = "<a href='"+parsedData.feed.author.url._value+"'>"
            playground.innerHTML += parsedData.feed.author.name._value
            playground.innerHTML += "</div>";
            for(let i = 0; i<parsedData.feed.entry.length;i++){
              playground.innerHTML += "<div><h3>"+parsedData.feed.entry[i].title._value+"</h3>";
              playground.innerHTML += parsedData.feed.entry[i].summary._value+"</p>"
            }
      

            }) 
    })

   
</script>