<p id="notice"><%= notice %></p>

<p>
  <strong>Patient:</strong>
  <%= @appointment.patient.first_name %>
  <%= @appointment.patient.last_name %>
</p>

<p>
  <strong>Doctor:</strong>
 Mr. <%= @appointment.doctor.last_name %>
</p>

<p>
  <strong>Appt:</strong>
  <%= @appointment.appt %>
</p>

<p>
  <strong>Details:</strong>
  <span id="code"><%= @appointment.details %></span>
  <button id="lookup">Details</button>
</p>

<%= link_to 'Edit', edit_appointment_path(@appointment) %> |
<%= link_to 'Return to Appointment List', appointments_path %>

<div id="playground"></div>


